{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Contacts of {{ profile.name }} {{ profile.last_name }}{% endblock title %}
{% block content %}
<h1>Contacts!</h1>
<div class="row">
    <div class="col-6 col-md-6 col-sm-6 col-xs-12">
        <div class="top-buffer">
            Name: {{ profile.name }}
        </div>
        <div class="top-buffer">
            Last name: {{ profile.last_name }}
        </div>
        <div class="top-buffer">
            Date of birth: {{ profile.birthdate|date:"d.m.Y" }}
        </div>
        <div class="top-buffer">
            Bio: {{ profile.bio }}
        </div>
    </div>
    <div class="col-6 col-md-6 col-sm-6 col-xs-12">
        <div class="top-buffer">
            Contacts:
        </div>
        <div class="top-buffer">
            Email: <a href="mailto:{{ profile.email }}">
                {{ profile.email }}
            </a>
        </div>
        <div class="top-buffer">
            Jabber: {{ profile.jabber }}
        </div>
        <div class="top-buffer">
            Skype: {{ profile.skype }}
        </div>
        <div class="top-buffer">
            Other contacts: {{ profile.other_contacts }}
        </div>
    </div>
</div>
{% endblock content %}